name: tests

on:
      push:
          branches:
              - master
      pull_request: null

jobs:
    tests:
      name: tests
      strategy:
          matrix:
            pyver: [3.11]

      runs-on: "ubuntu-latest"

      steps:
          - uses: actions/checkout@v2

          - uses: conda-incubator/setup-miniconda@v2
            with:
                python-version: ${{ matrix.pyver }}
                channels: conda-forge
                channel-priority: strict
                show-channel-urls: true

          - name: Install special dependencies with conda and pip
            shell: bash -l {0}
            run: |
                conda config --set always_yes yes
                conda install -q mamba

                mamba install -q stackvana=0
                # mamba install stackvana=0.2021.32
                
                mamba install -q \
                  flake8 \
                  pytest \
                  numpy \
                  "galsim>=2.3" \
                  "numba!=0.54.0" \
                  ngmix \
                  meds \
                  lsstdesc-weaklensingdeblending \
                  fitsio

                pip install --no-deps git+https://github.com/LSSTDESC/descwl-shear-sims.git@0.4.2
                pip install --no-deps git+https://github.com/LSSTDESC/descwl_coadd.git@0.3.0
                pip install --no-deps git+https://github.com/esheldon/metadetect.git@0.8.2

          - name: Lint with flake8
            shell: bash -l {0}
            run: flake8

          - name: Run pytest
            shell: bash -l {0}
            run: pytest -vv
